<link rel="stylesheet" type="text/css" href="./css/style.css">
<link />
#heading-1 {font-family: 'Comic Sans';}
#paragraph-1{font-family: sans-serif;}
#paragraph-2{font-family: sans-serif;}
#paragraph-3{font-family: sans-serif;}
#paragraph-4{font-family: sans-serif;}
#paragraph-5{font-family: sans-serif;}
#paragraph-6{font-family: sans-serif;}
#paragraph-7{font-family: sans-serif;}
#paragraph-8{font-family: sans-serif;}
#paragraph-9{font-family: sans-serif;}
#paragraph-10{font-family: sans-serif;}
