<link rel="stylesheet" type="text/css" href="./css/style.css">
<link />

{
 background-color: orange;
 text-align: center;
}
.container {
 background-color: white;
 width: 600px;
 margin: auto;
 padding: 20px;
 border: 1px solid black;
}
